html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: #000;
}

.canvas {
  display: block;
  width: 100%;
  height: 100%;
}

.dg {
  &.ac {
    z-index: 9999 !important; // stylelint-disable
  }

  .dg {
    /* stylelint-disable property-no-vendor-prefix */
    input[type=checkbox] {
      -moz-appearance: checkbox;
      -webkit-appearance: checkbox;
      appearance: checkbox;
    }
    select {
      -moz-appearance: menulist;
      -webkit-appearance: menulist;
      appearance: menulist;
      background-color: rgb(248, 248, 248);
      border-width: 1px;
      border-style: solid;
      border-color: rgb(166, 166, 166);
      border-image: initial;
      color: black;
      font-family: inherit;
    }
    /* stylelint-enable property-no-vendor-prefix */
  }
}
