doctype html
html(lang='en')
  head
    title Shooting Star
    link(rel='stylesheet', href='./index.scss')
    script(src='./index.js', defer)
  body
    canvas.canvas#background
    canvas.canvas#text
