html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: #000;
}

.canvas {
  display: block;
  width: 100%;
  height: 100%;
}

.message {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  color: rgba(#fff, 0.7);
  font-family: Georgia, serif;
  font-size: 0.9rem;
  text-align: center;
  letter-spacing: 0.1em;
  pointer-events: none;
  opacity: 0;
  transition: opacity 500ms;

  &.o-show {
    opacity: 1;
  }
}
